<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link href="stylesheets/board.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <h2>You logged in!</h2>
      <a href="/upgrade">Become a member!</a>
    </main>
  </body>
</html>
